*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth ;
}

:root {
    --primary-white: #fff;
    --dark-grey: #333;
    --light-grey: #f9f9f9;
    --dark-blue: #003366;
} 

@keyframes fade-up{
    from{
        opacity: 0;
        transform: translateY(60px);
    }
    to{
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideInRight{
    from{
        opacity: 0;
        transform: translateX(60px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* Navbar */
header{
    background-color: var(--dark-blue);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    align-items: center;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 700;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    transition: color 0.25s ease, opacity 0.25s ease;
    margin-left: 3rem;
    animation: fade-in 1.8s ease forwards;
}

nav a:hover{
    color: #bfefff;
}

/*Hamburger*/
.hamburger{
    display: none;
    background: none;
    font-size: 2rem;
    border: none;
    background: none;
}

.hero{
    padding: 150px 80px;
    background:url('wall4.jpg' ) center/cover no-repeat ;
    

}


.hero-content{
    color:#fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.5);
}

button{
    background-color: var(--dark-blue);
    color: var(--primary-white);
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    margin-top: 5rem;
    margin-left: 30rem;
}

button:hover{
    background-color: r;
    cursor: pointer;
}
.image-section{
    background-color:rgb(246, 249, 255);
    padding: 180px 10px; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}   
.card-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
    padding: 25px;
}
.card{
    border-radius: 10px;
    background-color: #333;
    padding: 1rem;
    animation: fade-up 2.5s ease-in forwards;

}

.brand{
    animation: slideInRight 1s ease forwards;
}

.brand img{
    height:40px; 
    display:block
}


.card-container img{
    width: 100%;
    border-radius: 2rem;
    height: 26vh;

}

.text{
    max-width: 500px;
}
.text h1{
    color: #333;
    width: 560px;
    margin-left: 3.5rem;
    padding: 3rem;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text p{
    font-family: sans-serif;
    margin-left: 3.5rem;
    padding: 3rem;
    font-size: 1.2rem;
    margin-top: -18rem;
    
}
/*Image-grid*/
.image-section2{
    background-color: #f1f1f0;
    padding: 3rem;
}
.image-section2 h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #003366;
}
.image-section2 h2{
    font-style: italic;
    text-align: center;
    padding: 1rem;
}


.image-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
    padding: 1rem;
    margin-top: 3rem;
    
}

.image-card{
    background-color:var(--primary-white);
    padding: 2rem 1.5rem;
    max-width: 80%;
    text-align: center;
    border-radius: 2rem 0 2rem;
    box-shadow: rgba(71, 71, 71, 0.5) 2px 0 1rem ;
    color: var(--light-grey);
    font-weight: bold;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-card:hover{
    transform: translateY(-30px);
    transition: 0.5s ease-in-out;
    .desc-text{
        transition: 0.5s ease;
        opacity: 1;
    }
}

.picture{
    overflow: hidden;
    height:50vh;
    width: 16rem;
    margin-bottom: 0.2rem;

}

.picture img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-card p{
    color: #000;
    font-style: italic;
    margin-top: 2.5rem ;
}

.image-card h3{
    background-color: var(--dark-blue);
    padding: 0.6rem;
    font-size: 1rem;
    max-width: 50%;
    border-radius: 6px;
    margin-top: 25px;
    margin-left: 60px;
}

.image-card h3:hover{
    background-color: rgb(97, 97, 243);
    transition: 0.5s ease-in-out;
}

.desc-text{
    font-size: 1rem;
    opacity: 0;
}

.our-categories{
    background-color: #8d9eac4f;
    padding: 4rem;
}

.our-categories h1{
    color: var(--dark-blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.our-categories h2{
    color: var(--dark-blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: underline;
    font-size: 1.9rem;

}
footer{
    background-color: var(--dark-blue);
    padding: 2rem;
}

footer p{
    font-family: 'poppins', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: #f3f3f3;
}

/*Responsiveness for large mobile screens*/
@media screen and (max-width:480px){
    
/*NavBar*/

header{
    padding: 8px;
    height: 6.5rem;
}
#nav-links{
    display: none;
    flex-direction: column;
    background-color: #003366;
    top:70px;
    right: 30px;
    height: 10rem; 
    gap: 1rem;   
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: absolute;
    }
.brand{
    margin-top: 1rem;
}
#nav-links.show {
    display: flex;
    animation: none;
    opacity: 1;
}

.hamburger{
    display: block;
    margin-top: -0.5px;
}

button{
    margin-left: 6.8rem;
    padding: 1rem;
}


.text{
    font-size: 1.1rem;
    margin-left: -5rem;
    padding: 0.5rem;
    margin-top: 3rem;
}

.text h1{
    text-align: center;
    
}

.text p{
    margin-left: 10rem;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center;
}

/*Image-categories-section*/
.image-grid-container{
    grid-template-columns: repeat(1,1fr);
    
}

.image-card{
    margin-left: 2rem;
}

.picture{
    margin-left: 0.2rem;
    width: 100%;
}


}


/* Responsive styles for screens with max-width: 360px */
@media (max-width: 380px) {
/*Hero-section*/
.hero-content{
    font-size: 1rem;
}

.button{
    margin-left:1rem;
    padding: 0.8rem;
    font-size: 1rem;
}

.card{
    padding: 5px;
}

.text{
    font-size: 5px;
    margin-left: -7.49rem;
    max-width: 550px;
}

.text h1{
    font-size: 1.9rem;
    
}

.text p{

}
}